.homepage{
  display:  flex;
  justify-content:  center; 
  align-items: center;        /*Moved elements to the center of the webpage*/
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;  
}

#inputbox{  /*Adjusted searchebox size*/
  width: 400px; 
  height: 45px;
  border: solid;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  z-index: 5;
}
